span{
    margin-left: 8px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

form{
    display: flex;
    margin: auto;
    justify-content: center;
    border-top: 1px solid black;
    flex-wrap: wrap;

}

h1{
    text-align: center;
}

.container{
    width: 66%;
    margin: auto;
    background-color: #fff;
    border-radius: 4px;
}

.control-wrapper{
    margin:10px;
    width: 100%;
    @media (min-width: 768px) {
        width: 40% !important;
    }
    p{
        color: #ff0000;

    }
}

.btns-container{
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;

}

.btns-container>button{
    margin: 10px;
}

.reset-btn{
    background: #f4f6f9;
    padding: 10px;
    border: 1px solid #808080;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
}

.confirm-btn{
    background: #f5df66;
    padding: 10px;
    border: 1px solid #808080;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    
}
