<div class="container">


<h1>Formulario de Registro</h1>
<form [formGroup]="productForm" #form="ngForm" (ngSubmit)="submit()">
    <div class="control-wrapper">
        <span>ID</span>
        <input devsu-input formControlName="id" type="text" />
        <!-- <span>{{ idTaken() }}</span> -->
        @if(idTaken() !== 'PENDING' && !productForm.controls['id'].valid && (productForm.controls['id'].dirty
        ) ){
        <p>Por favor ingrese un ID Valido</p>
        }
        @if(idTaken() === 'PENDING'){
        <p >Verifcando id...</p>
        }
        @if (idTaken()==='VALID') {
            <p style="color: #008000;">ID valido</p>

        }
    </div>
    <div class="control-wrapper">
        <span>Nombre</span>
        <input devsu-input formControlName="name" type="text" />
        @if( !productForm.controls['name'].valid && (productForm.controls['name'].dirty
        || form.submitted) ){
        <p>Este campo es requerido</p>
        }

    </div>
    <div class="control-wrapper">
        <span>Descripcion</span>
        <input devsu-input formControlName="description" type="text" />
        @if( !productForm.controls['description'].valid && (productForm.controls['description'].dirty
        || form.submitted) ){
        <p>Este campo es requerido </p>
        }
    </div>
    <div class="control-wrapper">
        <span>Logo</span>
        <input devsu-input formControlName="logo" type="text" />
        @if( !productForm.controls['logo'].valid && (productForm.controls['logo'].dirty
        || form.submitted) ){
        <p>Este campo es requerido</p>
        }
    </div>
    <div class="control-wrapper">
        <span>Fecha de Liberacion</span>
        <input devsu-input formControlName="date_release" type="date" />
        @if( !productForm.controls['date_release'].valid && (productForm.controls['date_release'].dirty
        || form.submitted) ){
        <p>Por favor ingrese un fecha valida</p>
        }
    </div>
    <div class="control-wrapper">
        <span>Fecha de revision</span>
        <input devsu-input formControlName="date_revision" type="date"/>

    </div>
    <div class="btns-container">
        
        <button devsu-button buttonType="light" [btnDisabled]="productForm.pristine" [disabled]="productForm.pristine || idTaken()==='PENDING'" (click)="reset()" type="button">Reiniciar</button>
        <button devsu-button buttonType="default" [btnDisabled]="productForm.invalid || idTaken()==='PENDING' || productForm.pristine"  type="submit" [disabled]="productForm.invalid ||  productForm.pristine || idTaken()==='PENDING'" >Enviar</button>
    </div>
</form>
</div>

