.title {
    text-align: center;
    font-size: 1.3rem;

}

i {
    color: #808080;
}

.inner-container {
    width: calc(100% - 120px);
    margin: auto;


}

.table-container {
    background-color: #fff;
    box-sizing: border-box;
    overflow-x: auto;



}
.table-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-bar-container {
    width: 230px;
}

th {
    // text-align: left !important;
    padding: 0.75rem 1.2rem;
}

thead {
    font-size: 1rem;
    background: #f9fafc;

}

table {
    // padding-top: 10px;
    padding: 2rem 2rem;
    width: 100% !important;
    font-size: 0.875rem;
    line-height: 1.24rem;
    text-align: left;
    color: #808080;
}

.logo {
    text-align: center;

    img {
        height: 1.3rem;

    }
}
.add-btn{
    background: #f5df66;
    padding: 10px;
    border: 1px solid #808080;
    border-radius: 4px;
    text-decoration: none;
    color: #000;

}

.add-btn:hover{
    cursor: pointer;
    background: #ecd54f;

}
.add-btn:focus{
    cursor: pointer;
    color: #808080;

}

td {
    // text-align: left;
    padding: 0.75rem 1.2rem;

}

.pagination {
    margin-top: 20px;
    overflow: auto;
}

.pagination button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    float: left;
    margin-left: 5px;
}

.pagination button.active {
    background-color: #45a049;
}


.edit-delete-btn:hover {
    cursor: pointer;

    i {

        color: black;
    }
}


.table-footer {
    display: flex;
    padding-right: 40px;
    justify-content: space-between;
    padding-left: 40px;
}

.pagination-container {
    display: flex;
    align-items: center;
}

.paginator-control {
    width: 120px;
    margin-left: 12px;
    display: flex;
    justify-content: space-between;
}

.paginator-control>button {
    background: none;
    border: 0;

}

.paginator-control>button:hover {
    cursor: pointer;
    i {
        color: black;
    }

}