<div class="container">
    <div class="inner-container">
        <div class="search-bar-container">
<search-bar label="Producto" (searchTermChanged)="searchTerm.set($event); pageIndex.set(1)"/>   
     </div>
        <div class="table-container">

        <table>
            <thead>
                <tr>
                    <th>
                        Logo
                    </th>
                    <th>
                        Nombre del producto
                        <i class="fa fa-circle-info"></i>
                    </th>
                    <th>
                        Descripccion
                        <i class="fa fa-circle-info"></i>

                    </th>
                    <th>
                        Fecha de liberación
                        <i class="fa fa-circle-info"></i>

                    </th>
                    <th>
                        Fecha de restructuración
                        <i class="fa fa-circle-info"></i>

                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @if (vm.loading) {
                    <tr style="font-size: 1.4rem;">

                        Cargando...
                    </tr>
                } 
                @if (vm.error) {
                    <tr style="font-size: 1.4rem;">

                        <td colspan="4">

                            {{vm.error}}
                        </td>
                    </tr>
                } 
                    @for (product of vm.products; track product.name) {
                        <tr data-test="product-item">
                            <td class="logo">
                                <img [src]="product.logo?product.logo:'/assets/no-image.svg'" [alt]="'Imagen del producto '+product.name">
                            </td>
                            <td>
                                {{product.name}}
                            </td>
                            <td>
                                {{product.description}}
                            </td>
                            <td>
                                {{product.date_release | date: 'dd/MM/YYYY'}}
                            </td>
                            <td>{{product.date_revision | date: 'dd/MM/YYYY'}}</td>
                            <td class="edit-delete-btn">
                                    <i class="fa fa-ellipsis-vertical "></i>
                            </td>
                        </tr>
                    }@empty {
                        <tr>
                            <td colspan="4">No hay productos disponibles</td>
                        </tr>
                    }
                
            </tbody>
        </table>
        <div class="table-footer">
            <div>
                <p>
                    {{vm.products.length}} Resultados
                </p>
            </div>
            <div class="pagination-container">
      
                <select devsu-select name="itemsPerPage" [ngModel]="itemsPerPage()" (ngModelChange)="itemsPerPage.set(+($event)); pageIndex.set(1)">
                    @for (val of [5,10,20]; track $index) {
                        <option [value]="val" >
                            {{val}}
                        </option>
                    }
                </select>
                <div>
                    
                    <div class="paginator-control">
                        {{startIndex()+1}}-{{itemsPerPage()*pageIndex()}} de {{vm.totalProducts}}
                        <button (click)="prevPage()">
                            <i class="fa fa-chevron-left" ></i>
                        </button>
                        
                        <button (click)="nextPage()">

                            <i class="fa fa-chevron-right" ></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>